workflows/echo-test.json
{
  "name": "Echo Test - MIXXN Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "echo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "// Validate and process input\nconst input = $input.item.json;\n\n// Validation\nif (!input || !input.message) {\n  throw new Error('Validation Error: message field is required');\n}\n\nif (typeof input.message !== 'string') {\n  throw new Error('Validation Error: message must be a string');\n}\n\n// Build response\nreturn {\n  success: true,\n  echo: input.message,\n  timestamp: new Date().toISOString(),\n  requestId: `req_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  processed: true\n};"
      },
      "id": "process-echo",
      "name": "Process Echo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Echo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Echo": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-31T00:00:00.000Z",
  "versionId": "1"
}
